.form {
    background-color: white;
    box-shadow: 0 0 16px rgb(0, 0, 0);
}

.form-group {
    margin: 10%;
}

button {
    margin: 5%;
}

.row {
    display: flex;
    justify-content: center;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
}

form div input {
    display: block;
}
form div{
    margin-top: 5%;
}

.container{
    padding-top: 5% !important;
}

/*----- Responsive ----*/
@media (max-width:480px){
    .form {
        padding-top: 25%;
    }
  }
  @media only screen and (min-width:480px) and (max-width:1200px){
    .form {
        padding-top: 10%;
    }
  }
